*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    background-color: whitesmoke;
}
.slider{
    display: flex;
    gap: 30px;
    white-space: nowrap;
    overflow: scroll;
    background-color: black;
    padding: 10px;
}
.slider a{
    text-decoration: none;
    color: whitesmoke;

}
.slider a:hover{
    text-decoration: none;
    color: lightgreen;
    
    
}
.slider::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#back{
    position: absolute;
    top: 2px;
    right: 0;
    padding: 7px;
}
#next{
    position: absolute;
    top: 2px;
    padding: 7px;

}
#html{
    padding-left: 40px;
}
#last{
    padding-right: 40px;
}
.color{
    background-color: rgb(77, 72, 72);
    border: none;
    color: whitesmoke;
    z-index: 1;
}
.color:hover{
    cursor: pointer;
}
.nav{
    position: sticky;
    top: 0;

}
.main-class{
    width: 100%;
    display: flex;
}
.left{
    width: 20%;
    

    
}
.aside{
    position: sticky;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 95dvh;
    overflow-y: scroll;
    padding-bottom: 20px;
    gap: 5px;
    top: 40px;
    bottom: 90dvh;
    z-index: 0;
}
.aside a{
    color: black;
    text-decoration: none;
}
.aside a:hover{
    text-decoration: none;
    color: black;
    background-color: lightgray;
}
#green{
    background-color: lightgreen;
}
.rigth{
    width: 80%;
    padding-left: 20px;
}
.button-b-f{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 50px;
    padding-top: 25px;
}
.b-color{
    padding: 15px;
    background-color: rgb(48, 167, 48);
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.b-color:hover{
    text-decoration: none;
    color: whitesmoke;

}
.blue-box{
    background-color: rgb(150, 247, 247);
    width: 90%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.html01{
    padding-top: 40px;
}
#lhm{
    background-color: rgb(48, 167, 48);
    padding: 10px;
    color: whitesmoke;
    width: max-content;
}
.exam2{
    border-color: lightslategray;
}
.gray-box{
    background-color: rgb(205, 206, 207);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;

}
.exam-box{
    border-left: solid 5px green;
    background-color: whitesmoke;
    width: 90%;
    padding-left: 20px;
}
.white-box{
    padding-left: 20px;
    padding-bottom: 20px;
}

.Layout{
    color: red;
}
.black{
    color: black;
}
.btn{
    padding: 15px;
    background-color: rgb(48, 167, 48);
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;  
    width: max-content;
}
.c-gray-box{
    padding-left: 10px;
}
.examples p{
    font-size: 20px;
}
#html-ex{
    background-color: lightsteelblue;
    padding: 10px;
    width: max-content;
    color: whitesmoke;
}
.f-btn{
    padding-top: 40px;
    padding-bottom: 20px;
}
.spl{
    padding-top: 50px;
}
.left{
    display: block;
}
#menu-bar-btn{
    display: none;
}
.vfx{
    padding-top: 40px;
}
.html-intro01{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@media screen and (max-width:800Px) {
 .slider-btn{
    display: none;
 }
 #html{
    padding-left: 0;
 }
  #menu-bar-btn{
    display: block;
  }   
  .main-class{
    display: flex;
    flex-direction: column;
  }
  .aside{
  background-color: whitesmoke;

  }
  .aside a{
    padding-right: 30px;
  }
  
  .left{
    display: none;
    width: 60%;
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    
  }
  .left h3{
    font-size: 20px;
    color: black;
  }
  .rigth{
    width: 100%;
    padding-left: 0;
  }
  .blue-box{
    width: 100%;
  }
  .html01{
    padding-left: 0;    
  }
  #cen{
   text-align: center;
 }
 .button-b-f{
    width: 100%;
    padding-left: 0;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
 }
 #try{
    font-size: 21px;
 }
 .exam{
    padding-left: 10px;
 }
 .gray-box{
    width: 100%;
 }
 #thani{
    font-size: 15px;
    padding-left: 10px;
 }
 .examples{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 #para{
    font-size: 15px;
 }
 #ex{
    font-size: 20px;
 }


 .html-intro01{
    padding-left: 20px;
 }
 .html-intro01 ul{
    list-style-position: outside;
 }




}
/* Don't Tuch Bellow Codes */
.final-div-for-crdits-main{
    background-color: #0A1D36;
    color: #FABC3F;
    display: flex;
    
    padding-top: 50px;
    padding-right: 20%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.crds1{
    display: flex;
    gap: 100px;
    padding-bottom: 20px;
}
.crds1 a{
    color: #FABC3F;
    font-size: 20px;
    
}

.crds3{
    font-size: 20px;
    display: grid;
    padding-top: 40px;
    gap: 5px;
}
.crds3 a{
    color: white;
    
    font-size: 15px;
}
.crds3 #tt{
    font-size: 25px;
    padding-bottom: 10px;
   color: wheat;
}
.def{
    display: flex;
    gap: 120px;
    padding-left: 160px;
    justify-content: center;

}
.mainfinal{
    display: flex;
    justify-content: center;
    background-color: #0A1D36;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.finall{
    width: 60%;
}
.mainfinal h3{
    padding-bottom: 5px;
    color: #FABC3F;
}
.cat{
    background-color: #0A1D36;
    display: grid;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    color: white;
    font-family: Stencil Std, fantasy;
    font-weight: 1000;
    font-size: 40px;
}













@media screen and (max-width:1000px) {

    .main {
        background-color: #10375C;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 100px;
    }

    .serch {
        width: 250px;
        height: 30px;
        border-radius: 15px;
        border: none;

    }

    .h1 {
        font-size: large;
        font-weight: bold;
    }
    .div-flexcard{
        width: 80%;
        height: 40vh;
        
    }
    .div-flexcard-two{
        width: 80%;
        height: 20vh;
        
    }
    .div-flexcard-one{
        width: 80%;
        height: 20vh;
        
    }
    .div-third-main .div-box1{
        text-align: center;
        display: flex;
        justify-content: center;
    }
  
   .div-ex{
    width: 90%;
    height: 15vh;
   }
   .div-exex1{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
   }
   .div-spaceone a{
    font-size: 25px;
   }
   .div-exex a{
    font-size: 20px;
   }
   .crds1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding-left: 50px;
    text-align: center;
}
.crds1{
    font-size: 50px;
}
.def{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding-left: 50px;
}
    .cat img{
        height: auto;
        width: 90%;
    }
    .cat{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .finall p{
        text-align: center;
    }
  
   
    
}
#tt{
    font-size: 25px;
    white-space: nowrap;
}






